<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/social_banklogo_512_512"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddAccountScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".UserDonations" />
        <activity
            android:name=".NewDonation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ResquestList" />
        <activity android:name=".AdminRequests" />
        <activity android:name=".AdminDonationDescription"></activity>
    </application>

</manifest>